    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Registro Alumnos</h2>
                    <form (ngSubmit)="addEmployee()" ngNativeValidate>
                        <div class="form-group">
                        
                        <input type="text" [(ngModel)]="employee.name" name="name" placeholder="Nombre" class="form-control" required>
                      </div>
                      <br>

                      <div class="form-group">
                        
                        <input type="text" [(ngModel)]="employee.email" name="email" placeholder="Apellido Paterno" class="form-control" required>
                      </div>
                      <br>
                      <div class="form-group">
                        
                        <input type="text" [(ngModel)]="employee.phone" name="phone" placeholder="Apellido Materno" class="form-control" required>
                      </div>
                        
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Agregar</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>